@import "tailwindcss";

@theme {
    --font-display: "Satoshi", "sans-serif";

    --color-background: #0a0a0a;
    --color-foreground: #ededed;
    --color-primary: #f5e6d3;
    --color-secondary: #8b4513;
    --color-accent: #f1941c;
    --color-semisecondary: #6a3514;
    --color-accent: #d38725;
    /* ... */
  }

  html, body, #root {
    height: 100%;
  }